body {
    background-color: #E71C23;
    font-family: sans-serif;
    color: rgb(43, 43, 43);
}

.container {
    width: 40%;
    margin: auto;
}

#search-field {
    border-style: none;
    width: 100%;
    border-radius: 20px;
    font-size: 1.2em;
    margin: 40px 0 20px;
    padding: 10px 15px;
}

.card {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 12px;
    margin: 10px 0;
    box-shadow: 3px 3px 3px rgb(66, 66, 66);
    display: flex;
    justify-content: space-between;
}

.card picture {
    width: 40%;
}

.card picture img {
    width: 100%;
}
.card .text {
    width: 55%;
}

@media screen and (max-width: 700px) {
    .container {
        width: 90%;
    }
}